body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body{
  overflow: hidden;
} 

.about-us {
  position: relative;
  color: black;
  text-align: center;
  min-height: 100vh;
  font-size: 20px;

}

.top-space, .bottom-space {
  height: 100px; /* Adjust the height as needed */
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.content h2 {
  margin-top: 0;
}
