.footer {
  background-color: #fff;
  padding: 20px;
  width: 100vw;
  
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  gap: 20px; /* Add space between icons */
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  gap: 10px;
  margin-right: 9%;
  margin-left: 5%;
}

.footer-links a {
  margin: 5px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.footer-links a:hover {
  color: grey; /* Change color on hover */
}

.company-info {
  font-size: 0.9rem;
  text-align: center;
  margin: 20px 0;
}

.Footer-desc {
  text-align: center;
  font-size: 50px;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    width: 70%;
    gap: 10px;
  }

  .Footer-desc {
    font-size: 70px;
  }
}

@media (min-width: 1024px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    width: 60%;
  }

  .Footer-desc {
    font-size: 90px;
  }
}
