.HomeScreen2 {
  width: 100vw;
  min-height: fit-content;
  padding: 0;
 margin-left: 0;
 margin-right : 0;
}

.image-container {
  height: 180vh;
  width:100%;
  
  
}



.image-main
{
  height : 100%;
  width :  100%;
}

.tagline-heading
{
  text-align:center;
  margin-top:5%;
  margin-bottom:5%;
  font-size: 60px;
}


.image-grid
{
  height:220vh;
  width : 97%;
  
  display : flex;
  justify-content: space-around ;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin-left: 14px;
  /* margin-right: 25px; */
 
}

.flex-cards
{
  height : 49.8%;
  width : 33%;
 
  /* background-image: url(image2.jpg);
  background-size: cover; */
   

}

.flex-cards-image
{
  height:100%;
  width : 100%;
}